.user-info-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    color: #333;
}

.menu button {
    background-color: #e3cba2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #3E2723;
}

