html{
    font-family:  'Arial', sans-serif;
}
body {
    font-family:  'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f9; 
    color: #333; 
    margin: 0;
    min-width: 900px;
}


