:root{
    --card-width-lg:10vw;
    --card-height-lg:18vw;
    --card-margin:1vw;
}

.main{
    display: flex;
    justify-content: center;
    height: 100vw;
    width: 100vw;
}

img{
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

.user-info-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    color: #333;
}

