:root{
    --card-width-lg:157px;
    --card-height-lg:120px;

    --card-width-sm:120px;
    --card-height-sm:168px;

}

.main{
    display: flex;
    justify-content: center;
}

.table-container{
    position: relative;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "adversary adversary adversary"
                         "deck played ."
                         "player player player" ;                     
}   

.adversary-cards-container{
    grid-area: adversary;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10%;    
}

.deck-container{
    grid-area: deck;
    justify-content: left;
    margin: 5%;
}

.adversary-card-pos-0, .adversary-card-pos-1, .adversary-card-pos-2, .adversary-card-pos-3, .adversary-card-pos-4{
    height: var(--card-height-lg);
    width: var(--card-width-lg);
}

.played-cards-container{
    grid-area: played;
    position: relative;
    display: flex;
    justify-content: center;
    height: var(--card-height-lg);
    width: var(--card-width-lg);
    margin: 20%;
}

.player-cards-container {
    grid-area: player;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10%;
}

.player-card-pos-0, .player-card-pos-1, .player-card-pos-2, .player-card-pos-3, .player-card-pos-4{
    height: var(--card-height-lg);
    width: var(--card-width-lg);   
}

img{
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 5px;
}
