:root{
    --card-width-lg:157px;
    --card-height-lg:120px;

    --card-width-sm:120px;
    --card-height-sm:168px;

}

.main{
    display: flex;
    justify-content: center;
}

.table-container{
    border: 3px solid black;
    position: relative;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "adversary adversary adversary"
                         "remaining played ."
                         "player player player" ;                     
}   

.adversary-cards-container{
    grid-area: adversary;
    position: relative;
    display: flex;
    justify-content: center;    
}

.remaining-cards-container{
    grid-area: remaining;
    justify-content: left;
    margin: 20%;
}

.adversary-card-pos-a, .adversary-card-pos-b, .adversary-card-pos-c, .adversary-card-pos-d, .adversary-card-pos-e{
    height: var(--card-height-lg);
    width: var(--card-width-lg);
}

.played-cards-container{
    grid-area: played;
    position: relative;
    display: flex;
    justify-content: center;
    height: var(--card-height-lg);
    width: var(--card-width-lg);
    margin: 20%;  
}

.player-cards-container {
    grid-area: player;
    position: relative;
    display: flex;
    justify-content: center;
}

.player-card-pos-a, .player-card-pos-b, .player-card-pos-c, .player-card-pos-d, .player-card-pos-e{
    height: var(--card-height-lg);
    width: var(--card-width-lg);   
}

img{
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 5px;
}
