body {
    font-family: 'Arial', sans-serif;
    background-color: #F4E1C1; /* Colore sabbia */
    color: #5D4037; /* Colore marrone */
    margin: 0;
    padding: 0;
}

header {
    background-color: #5D4037; /* Colore marrone */
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1.5em;
}

nav {
    background-color: #FFF;
    border-bottom: 2px solid #DDD;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #5D4037; /* Colore marrone */
    font-weight: bold;
}

#content-wrap {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #5D4037; /* Colore marrone */
    color: white;
    border: none;
    border-radius: 50px; /* Bottoni rotondi */
    padding: 1em 2em;
    margin: 0.5em 0;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3E2723; /* Colore marrone scuro */
}

footer {
    background-color: #5D4037; /* Colore marrone */
    color: white;
    text-align: center;
    padding: 1em 0;
}
